*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #232830;
  color:#e3dfdf;
}

img{display:block;}

nav, .topics{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap: 0.3em;
  font-style:italic;
  font-weight:400px;
}

.topics,.header,.pages,footer{
  padding: 0 3rem 2rem 3rem;
}

nav h1,.sub-heading{
  font-weight:150;
  font-style:italic;
}

a{
    text-decoration:none;
    color:rgb(104, 104, 100);
}

ul{
  list-style:none;
  display:flex;
  gap:1rem;
  font-size:small
  
}

.nav-bar{
  display:flex;
  gap:1rem

}
.logo{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

}
.picture{
  width:194.45px;
  height:auto;
}

.main-heading{
  font:recursive;
  font-weight:400;
  font-style:italic;
  color:rgb(195, 70, 70);
  margin:1rem 0 0.5rem 0;
  
}
.header{
  border-bottom: 1px solid hsla(0, 0%, 80%, 0.162);
  margin-bottom:0.5em;
}
/* .bars{
  width:20%;
} */
.bar {
  width: 20px;
  height: 3px;
  background-color: rgb(130, 129, 129);
  margin: 2.5px 0;
}


/*   Card section  */
.pages{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap:2rem;;
}

.card{
  color:black;
  background-color:#fff;
  display:flex;
  flex-direction:column;
  padding:1rem;
  border:1.5px solid black;
  border-radius:15px;
  max-width:500px;
  object-fit:contain;
  aspect-ratio: 4/5;
  overflow: hidden;
  
}
.card img{
  border-radius:5%;
  width:100%;
  height:55%;
  object-fit:cover;
  aspect-ratio:16/9;
  margin-bottom:0.5em;
}

.card h2{
  font-size:15px;
  margin-bottom:0.5rem;
  
}
.card section p{
  font-size: 0.93rem;
  font-style:oblique;
}
.card-meta{
  display: inline-flex;
  margin : 0.8em 0 0.5em 0;
  gap:0.5em;
  color:rgb(130, 129, 129);
  font-style:italic;
  font-size:small;
}

.move-to{
  display:none;
}

.footer{
  border-top:1px solid hsla(0, 0%, 80%, 0.162);
}
.footer span,.part1{
   width:100%;
   display:inline-flex;
   gap: 1rem;
}
.footer span{
    justify-content:space-between;
     
  margin-top:1rem;
}
.twitter{
  width:10%;
  object-fit:cover;
}

.social{
  background-color:rgb(22, 150, 255);
  display:inline-flex;
  border-radius:10px;
  width:30%;
  justify-content: center;
  align-items:center;
  font-size:15px;
  overflow:hidden;
}

